.hero-section {
  position: relative;
  width: 100%; 
  margin: 0 auto;
  margin-top: -170px;
  padding-bottom: 116px;
  z-index: 1;
  background-color: black;
}

@media (max-width:400px) {
  .hero-section {
    margin-top: -45px;
    text-align: center; 
  }  
}

.hero-container {
  position: relative;
  padding-top: 242px;
  z-index: 10;
}

@media (max-width:400px) {
  .hero-container {
    padding-top: 0px;
  }
}

.hero-container__heading {
  width: 580px;
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

@media (max-width:640px) {
  .hero-container__heading {
    width: 100%;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (max-width:510px) {
  .hero-container__heading {
    width: 100%;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width:430px) {
  .hero-container__heading {
    width: 100%;
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width:400px) {
  .hero-container__heading {
    width: 100%;
    padding-top: 75px;
    font-size: 35px;
    line-height: 35px;
  }
}

.hero-container__item {
  width: 570px;
  margin-bottom: 94px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width:768px) {
  .hero-container__item {
    width: 100%;    
    margin-bottom: 150px;
  }
}

@media (max-width:640px) {
  .hero-container__item {
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width:400px) {
  .hero-container__item {
    width: 100%;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}

.hero-container__subscription {
  display: inline-block;
  position: relative;
  padding: 23px 35px 23px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-color: #9d5cd0;
  z-index: 2;
  border: 2px solid transparent;
  transition: border-color 200ms, background-color 200ms;
}

.hero-container__subscription:focus {
  outline: none;
}

.hero-container__subscription:focus:before {
  position: absolute;
  left: -1%;
  top: -3.1%;
  width: 104.5%;
  height: 117.7%;
  margin: -4px;
  content: '';
  border-radius: 100px;
  border: 2px solid #C283F3;
  outline: none;
  z-index: 1;
  animation: subscr 200ms;
}

@keyframes subscr {
  0% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

.hero-container__subscription:hover:before {
  border: 0px solid #C283F3;
  animation: subscr-back 200ms;
}

@keyframes subscr-back {
  100% {
    transform: scale(0.98);
  }

  0% {
    transform: scale(1);
  }
}

.hero-container__subscription:hover {
  border: 2px solid #D1A9F0;
}

.hero-container__subscription:active {
  border: 2px solid #D1A9F0;
  background-color: #7943A4;
}

@media (max-width:400px) {
  .hero-container__subscription {
    padding: 11px 16px 14px 19px;
    border-radius: 100px;
    font-size: 12px;
  }
}

/* Swipper */
.hero-section .swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero__image {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.hero__wrapper .swiper-slide-active {
  animation: scale 30s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }

  50% {
    transform: scale(1.1);
    animation-timing-function: ease-out;
  }

  100% {
    transform: scale(1);
  }
}

.hero__image-first {
  background-image: url(../img/hero/1920First.jpg);
}

.hero__image-second {
  background-image: url(../img/hero/1920Second.jpg);
}

.hero__image-third {
  background-image: url(../img/hero/1920Third.jpg);
}

@media (max-width:1024px) {
  .hero__image-first {
    background-image: url(../img/hero/1024First.jpg);
  }
  
  .hero__image-second {
    background-image: url(../img/hero/1024Second.jpg);
  }
  
  .hero__image-third {
    background-image: url(../img/hero/1024Third.jpg);
  }
}

@media (max-width:768px) {
  .hero__image-first {
    background-image: url(../img/hero/768First.jpg);
  }
  
  .hero__image-second {
    background-image: url(../img/hero/768Second.jpg);
  }
  
  .hero__image-third {
    background-image: url(../img/hero/768Third.jpg);
  }
}

@media (max-width:320px) {
  .hero__image-first {
    background-image: url(../img/hero/320First.jpg);
  }
  
  .hero__image-second {
    background-image: url(../img/hero/320Second.jpg);
  }
  
  .hero__image-third {
    background-image: url(../img/hero/320Third.jpg);
  }
}