.catalog-container {
  margin-bottom: 83px;
}

.catalog__heading {
  margin-right: 33px;
  padding-left: 3px;
}

.catalog__heading-flag {
  display: flex;
}

@media (max-width: 740px) {
  .catalog__heading-flag {
    display: block;
  }
}

.catalog-flag__list {
  display: flex;
  align-items: center;
  transform: translateY(-7px);
}

.catalog-flag__item:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 450px) {
  .catalog-flag__item:not(:last-child) {
    margin-right: 15px;
  }
}

.catalog-flag__btn {
  position: relative;
  height: 66px;
  width: 66px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 50%;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 74%;
  cursor: pointer;
  transition: border-color 200ms;
}

@media (max-width: 510px) {
  .catalog-flag__btn {
    height: 46px;
    width: 46px;
  }
}

.catalog-flag__btn:before {
  content: '';
  position: absolute;
  top: 13%;
  left: 13%;
  width: 74%;
  height: 74%;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 0 20px 2px rgba(157, 92, 208, 0.7);
  opacity: 0;
  transition: opacity .5s, border-color .5s;
}

.catalog-flag__btn:hover:before {
  border: 1px solid #000;
  opacity: 1;
}

.catalog-flag__btn:active:before {
  content: '';
  position: absolute;
  top: 12%;
  left: 12%;
  width: 76%;
  height: 76%;
  border-radius: 50%;
  border: 2px solid var(--activeD0);
  box-shadow: none;
  transition: border-color 200ms;
  opacity: 1;
}

.catalog-flag__btn:focus:before {
  content: '';
  position: absolute;
  top: 12%;
  left: 12%;
  width: 76%;
  height: 76%;
  border-radius: 50%;
  border: 2px solid #D1A9F0;
  box-shadow: none;
  transition: border-color 200ms;
  opacity: 1;
}

.catalog-flag__btn-active {
  border: 2px solid var(--activeD0);
  transition: border-color .5s;
}

.flag-fra {
  background-image: url(../img/Catalog/flag_fra.png);
}

.flag-deu {
  background-image: url(../img/Catalog/flag_deu.png);
}

.flag-ita {
  background-image: url(../img/Catalog/flag_ita.png);
}

.flag-rus {
  background-image: url(../img/Catalog/flag_rus.png);
}

.flag-bel {
  background-image: url(../img/Catalog/flag_bel.png);
}

.catalog__paragraph {
  display: none;
  max-width: 1080px;
  padding-bottom: 37px;
  padding-left: 4px;
  line-height: 32px;
}

.catalog__paragraph-active {
  display: block;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .catalog__content {
    display: flex;
    flex-direction: column-reverse;
  }
}

.catalog__content-info {
  width: 49%;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .catalog__content-info {
    width: 100%;
    padding-left: 0px;
  }
}

.catalog__accordion {
  width: 50.2%;
  padding-left: 3px;
}

@media (max-width: 768px) {
  .catalog__accordion {
    width: 100%;
    margin-bottom: 60px;
  }
}

/* Left */

.info-content {
  display: none;
}

.info-content img {
  max-height: 800px;
  background-size: contain;
}

.info-content-active {
  display: block;
}

.info-content__name {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 31px;
  padding-left: 1px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
}

.info-content__date {
  margin-bottom: 10px;
  padding-left: 1px;
  font-size: 12px;
  font-weight: 16.34px;
  color: #999999;
}

.info-content__description {
  padding-right: 20px;
  padding-left: 1px;
  max-width: 780px;
  line-height: 32px;
}

/* Accordion */

.accordion-date {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background-color: transparent;
  font-size: 24px !important;
  font-family: 'Opensans', Arial, Helvetica, sans-serif !important;
  font-weight: 600;
  color: #333;
  text-align: left;
  transition: color 200ms, border-color 200ms;
}

.accordion-date {
  transform: translateY(1px);
}

.accordion-date:not(:first-child) {
  border-top: 1px solid transparent;
}

@media (max-width: 500px) {
  .accordion-date {
    font-size: 18px !important;
  }
}

.accordion-date:hover {
  border-top: 1px solid var(--activeD0);
  border-bottom: 1px solid var(--activeD0);
  color: var(--activeD0);
}

.accordion-date:active {
  border-top: 1px solid var(--focusA4);
  border-bottom: 1px solid var(--focusA4);
  color: var(--focusA4);
}

.accordion-date:focus:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--focusA4);
  outline-offset: 5px;
  transition: outline-color 200ms;
}

.accordion-date:active:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid transparent;
  outline-offset: 5px;
}

.ui-accordion .ui-accordion-header {
  padding: 37px 0 44px 0 !important;
}

.ui-accordion .ui-accordion-header {
  margin: 0px;
}

.ui-icon {
  position: absolute;
  right: 0.5%;
  top: 35%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ECECEC;
  transition: background-color 200ms;
}

@media (max-width: 500px) {
  .ui-icon {
    width: 30px;
    height: 30px;
  }
}

.accordion-date:hover .ui-icon {
  background-color: var(--activeD0);
}

.accordion-date:active .ui-icon {
  background-color: var(--focusA4);
}

.ui-icon::before {
  position: absolute;
  content: '';
  top: 37%;
  left: 38%;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  transform: rotate(45deg);
  transition: border-color 200ms;
}

@media (max-width: 500px) {
  .ui-icon::before {
    width: 8px;
    height: 8px;
  }
}

.accordion-date:hover .ui-icon:before {
  border: 1px solid #fff;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
}

.ui-state-hover .ui-icon {
  background-image: none;
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: none;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: none;
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
  background-image: none;
}

.ui-state-active .ui-icon::before, .ui-button:active .ui-icon::before {
  border: 1px solid #000;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(45deg);
}

.ui-state-active:hover .ui-icon::before {
  border: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transform: rotate(45deg);
}

.accordion__list {
  display: none;
  flex-direction: column;
  padding: 25px 30px 20px 0;
  border-top: 1px solid var(--activeD0);
  border-bottom: 1px solid var(--activeD0);
  max-height: 370px;
  flex-wrap: wrap;
  width: auto;
}

@media (max-width: 1526px) {
  .accordion__list {
    max-height: 700px;
  }
}

@media (max-width: 860px) {
  .accordion__list {
    max-height: 900px;
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .accordion__list {
    max-height: 350px;
  }
}

@media (max-width: 680px) {
  .accordion__list {
    max-height: 700px;
  }
}

@media (max-width: 520px) {
  .accordion__list {
    max-height: 900px;
  }
}

.accordion__list-active {
  display: flex;
}

.accordion__item {
  padding-right: 15px;
  font-size: 16px;
  line-height: 32px;
}

.accordion__item-btn-active {
  color: var(--activeD0);
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-left: 2px;
}

.ui-widget-content {
  border: none;
}

.ui-accordion-header-active, .ui-accordion-header-active:hover {
  border-bottom: none;
}

.accordion__item-btn {
  position: relative;
  border: none;
  padding: 0;
  border-bottom: 1px solid transparent;
  font-family: 'Opensans', Arial, Helvetica, sans-serif !important;
  background-color: transparent;
  transition: color 200ms, border-color 200ms;
}

.accordion__item-btn:focus:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var(--focusA4);
  transition: outline-color 200ms;
}

.accordion__item-btn:hover {
  color: var(--activeD0);
  border-bottom: 1px solid var(--activeD0);
}

.accordion__item-btn:active {
  color: var(--focusA4);
  border-bottom: 1px solid transparent;
}

.accordion__item-btn:active:before {
  outline: 2px solid transparent;
}