.events-container {
  margin-bottom: 79px;
  padding-right: 20px;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.events__heading {
  padding-left: 4px;
  margin-bottom: 14px;
}

.events__list {
  display: flex;
  justify-content: space-between;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
  min-width: 0;
  flex-wrap: wrap;
}

.events__item {
  position: relative;
  flex-shrink: 0;
  margin-bottom: 30px;
  min-width: 0;
  width: 31.6%;
  max-width: 500px;
  min-height: 702px;
  height: auto;
  border: 1px solid #CACACA;
  animation: show .5s;
}

.events__item:nth-child(n+4) {
  display: none;
}

@media (max-width: 960px) {
  .events__item:nth-child(n+3) {
    display: none;
  }
  .events__item {
    width: 47%;
  }
}

.events__item.events__item-active {
  display: block;
}

.events-item__figure {
  margin: 0;
}

.events-item__img {
  margin-bottom: 11px;
}

.events-item__figcaption {
  margin-left: auto;
  padding-right: 20px;
  max-width: 211px;
  font-size: 12px;
  text-align: end;
  white-space: pre-line;
  line-height: 16.34px;
}

.events-item__heading {
  padding: 4px 30px 4px 50px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.events-item__content {
  padding: 1px 45px 10px 50px;
  margin-bottom: 89px;
  line-height: 32px;
}

.events-item__link {
  bottom: 0;
  position: absolute;
  margin: 0 50px;
  margin-bottom: 47px;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--activeD0);
  color: var(--activeD0);
}

@media (max-width: 1024px) {
  .events-item__heading {
    padding: 4px 30px 0px 35px;
  }
  .events-item__content {
    padding: 1px 35px 0;
  }
}

.events__all {
  display: block;
  margin: 0 auto;
  padding: 19px 33px;
  border-radius: 100px;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  color: var(--activeD0);
  border: 2px solid var(--activeD0);
  transform: translateX(6px);
}

.events-container .swiper-pagination {
  display: none;
}

/* SLIDER */

@media (max-width: 700px) {
  .events__list {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
    flex-wrap: nowrap;
  }
  .events__item:nth-child(n+3) {
    display: block;
  }
  .events__item {
    margin: 0;
    max-width: 100%;
    min-width: 0;
  }
  .events-item__img {
    background-size: cover;
    width: 100%;
  }
  .events__all {
    display: none;
  }
  .events-container .swiper-pagination {
      display: block;
  }  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: black;
  }
}