.publications {
  display: block;
  background-image: url(../img/Publications/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.publications-container {
  display: flex;
  justify-content: space-between;
  padding: 81px 0 77px 12px;
  color: #fff;
}

@media (max-width: 1130px) {
  .publications-container {
    padding: 81px 50px 77px 49px;
  }
}

@media (max-width: 882px) {
  .publications-container {
    flex-direction: column;
  }
}

/* LEFT */
.publication-left {
  width: 25%;
  line-height: 32px;
}

@media (max-width: 1130px) {
  .publication-left {
    width: 33.5%;
  }
}

@media (max-width: 980px) {
  .publication-left {
    width: 40%;
  }
}

@media (max-width:882px) {
  .publication-left {
    width: 100%;
  }

  .publication-left__checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 130px;
  }
}

.publications__heading {
  margin-bottom: 15px;
  color: #fff;
}

.publication-left__heading {
  font-weight: 700;
}

.publication-left__checkbox-label {
  display: block;
}

.publication-left__heading-price {
  padding-top: 27px;
  margin-bottom: 8px;
}

.publication-left-price {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

@media (max-width: 882px) {
  .publication-left-price {
    margin-bottom: 50px;
  }
}

.left-price {
  padding: 2px 10px;
}

.left-price__input {
  width: 73px;
  padding-left: 10px;
  margin-left: 6px;
  margin-right: 6px;
  outline: none;
  border: none;
  color: #fff;
  background-color: rgba(157, 92, 208, 0.5);
}

.left-price__input::placeholder {
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Чекбокс */

label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.check {
  display: none;
}

.check + .checkbox-selected {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid #fff;
}

.check:checked + .checkbox-selected {
  border: 1px solid #C283F3;
}

.check + .checkbox-selected:before {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 3px;
  width: 4px;
  height: 4px;
  box-sizing: border-box;
  content: '';
  background-color: var(--hoverF3);  
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.check:checked + .checkbox-selected:before {
  opacity: 1;
}

.publication-left__checkbox-label:hover {
  color: var(--hoverF3);
}

.publication-left__checkbox-label:hover .check + .checkbox-selected {
  border: 1px solid var(--hoverF3);
}

.publication-left__checkbox-label:active {
  color: var(--focusA4);
}

.publication-left__checkbox-label:active .check + .checkbox-selected {
  border: 1px solid var(--focusA4);
}

.check:checked + .checkbox-selected:before .publication-left__checkbox-label {
  color: yellow;
}


/* RIGHT */

.publications-right {
  width: 72.4%;
  margin: 0;
}

@media (max-width: 882px) {
  .publications-right {
    width: 100%;
  }  
}

.publications-right__swiper-nav {
  padding-top: 40px;
  margin-bottom: 21px;
}

.publications-right__swiper {
  padding-left: 5px;
}

@media (max-width: 882px) {
  .publications-right__swiper {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.publications-right__swiper-item {
  max-width: 350px;
}

@media (max-width: 1130px) {
  .publications-right__swiper-item {
    max-width: 50%;
  }
}

@media (max-width: 882px) {
  .publications-right__swiper-item {
    max-width: 50%;
  }

  .publications-right__swiper-item:last-child {
    transform: translateX(0px);
  }
}

.publications-right__swiper-item:last-child {
  transform: translateX(-5px);
}

.publications-right__swiper-img {
  margin-bottom: 23px;
  text-align: center;
}

.publications-right__swiper img {
  width: 100%;
}

.publications-right__swiper-signature {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 17px;
  line-height: 21px;
}

.publications-right__swiper-name {
  font-weight: 600;  
}

.publications-right__swiper-price {
  font-style: italic;
}

.publications-right__swiper-btn {
  position: relative;
  padding: 7px 20px;
  margin-bottom: 4px;
  background-color: transparent;
  border: 2px solid var(--activeD0);
  border-radius: 100px;
  font-weight: 700;
  line-height: 22px;
}

.publications-right__swiper-btn:hover {
  background-color: var(--activeD0);
}

.publications-right__swiper-btn:active {
  background-color: var(--focusA4);
  border: 2px solid #D1A9F0;
}

.publications-right__swiper-btn:focus:before {
  position: absolute;
  left: -1.3%;
  top: -7.3%;
  width: 105.7%;
  height: 122%;
  margin: -4px;
  content: '';
  border-radius: 100px;
  border: 2px solid #C283F3;
  outline: none;
  z-index: 1000;
  animation: subscr 200ms;
}

.publications-right__swiper-btn:hover:before {
  border: none
};
