[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts-content {
  display: flex;
}

@media(max-width:649px) {
  .contacts-content {
    position: relative;
    display: block;
  }
}

.contacts-heading {
  padding-left: calc((100% - 1610px) / 2);
}

@media (max-width:1630px) {
  .contacts-heading {
    padding-left: 10px;
  }
}

@media (max-width:1560px) {
  .contacts-heading {
    padding-left: 100px;
  }
}

@media (max-width:1200px) {
  .contacts-heading {
    padding-left: 50px;
  }
}

@media (max-width:649px) {
  .contacts-heading {
    padding-left: 50px;
  }
}

@media (max-width:576px) {
  .contacts-heading {
    padding-left: 30px;
  }
}

@media (max-width:400px) {
  .contacts-heading {
    padding-left: 18px;
  }
}

.contacts__container-left {
  box-sizing: content-box;
  width: 35.3%;
  max-width: 400px;
  padding: 121px 122px 124px 0;
  padding-left: calc((100% - 1610px) / 2);
  border: 1px solid #cacaca;
}

@media (max-width:1630px) {
  .contacts__container-left {    
    padding-left: 10px;
  }
}

@media (max-width:1560px) {
  .contacts__container-left {
    padding-left: 100px;
  }
}

@media (max-width:1200px) {
  .contacts__container-left {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width:768px) {
  .contacts__container-left {
    width: 50%;
  }
}

@media (max-width:649px) {
  .contacts__container-left {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 3px 50px 30px 50px;
    border: none;
  }
}

@media (max-width:576px) {
  .contacts__container-left {
    padding: 3px 30px 30px 30px;
  }
}

@media (max-width:400px) {
  .contacts__container-left {
    padding: 3px 18px 30px 18px;
  }
}

.contacts-left__title {
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.contacts-left__address {
  margin-bottom: 28px;
  line-height: 32px;
}

@media (max-width:649px) {
  .contacts-left__address {
    margin-bottom: 340px;
  }
}

.contacts-left__subtitle {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 32px;
}

.contacts-left__call-form {
  margin-bottom: 39px;
}

.call-form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 23px;
  padding: 8px 24px;
  border: 1px solid #333333;
  border-radius: 100px;
  transition: border-color 200ms;
}

.call-form__input:focus {
  border: 1px solid #D1A9F0;
  outline: none;
}

.call-form__input::placeholder {
  font-size: 16px;
  color: #999999;
}

.call-form__btn {
  position: relative;
  padding: 17px 33px;
  border: 2px solid var(--activeD0);
  border-radius: 100px;
  color: var(--activeD0);
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  transition: background-color 200ms, color 200ms, border-color 200ms;
}

.call-form__btn:hover {
  background-color: var(--activeD0);
  color: #fff;
}

.call-form__btn:active {
  background-color: var(--focusA4);
  border: 2px solid #D1A9F0;
}

.call-form__btn:focus:before {
  position: absolute;
  left: -1.3%;
  top: -4.3%;
  width: 105%;
  height: 115%;
  margin: -4px;
  content: '';
  border-radius: 100px;
  border: 2px solid #C283F3;
  outline: none;
  z-index: 1000;
  animation: subscr 200ms;
}

.call-form__btn:hover:before {
  border: none
}

.contacts-left__social-list {
  display: flex;
}

.contacts-left__social-item {
  position: relative;
  height: 40px;
  width: 40px;
  margin-top: -2px;
  margin-right: 20px;
  background-size: cover;
}

.contacts-left__icon-whatsapp {
  background-image: url(../img/Contacts/Whatsapp.svg);
}

.contacts-left__icon-telegram {
  background-image: url(../img/Contacts/Telegram.svg);
}

.contacts-left__social-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contacts-left__social-link:focus:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--hoverF3);
  border-radius: 100px;
  cursor: pointer;
  transition: border color 200ms;
}

.contacts-left__social-link:hover:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--activeD0);
  border-radius: 100px;
  cursor: pointer;
  transition: border color 200ms;
}

.contacts-left__social-link:active:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--focusA4);
  border-radius: 100px;
  cursor: pointer;
  transition: border color 200ms;
}

.contacts-right__map {
  width: 64.7%;
  height: 700px;
}

@media (max-width:768px) {
  .contacts-right__map {
    width: 44%;
  }
}

@media (max-width:649px) {
  .contacts-right__map {
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    height: 320px;
  }
}